*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.header{
    background-color: #FFF8F3;
    background-image: url("/portfolio-resources/images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}





/* Navbar Style Section Start Here */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 150px;
}

.nav-title{
    font-size: 45px;
    color: rgb(37, 36, 36);

}

span{
    color : #fd6e0a;
}


nav ul {
    display: flex;
    align-items: center;
}


nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;

}


.btn-primary{
    background-color: #fd6e0a;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    box-sizing: border-box;
}


.btn-Outline{
    background-color: transparent;
    color: #fd6e0a;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #fd6e0a;
    font-size: 20px;
    box-sizing: border-box;
    margin-left: 25px;
}

/* Navbar Style Section End Here */




.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.banner-content{
    width: 600px;
}


.banner .profile-pic {
    width: 500px;
}


.banner-subtitle{
    font-size: 45px;
    color: #474747;
    font-weight: normal;
}


.banner-title{
    font-size: 70px;
    color: #181818;
    font-weight: 800;
}

.banner-desc{
    font-size: 18px;
    color: #6b6b6b;
    margin: 20px 0;
}




/* About section style code start here */
.about-section{
    background-color: #FFF8F3;
    width: 1150px;
    height: auto;
    margin: 150px auto 0 auto;
    padding: 120px;
}


.section-title{
    font-size: 45px;
    color: #181818;
    margin-bottom: 10px;
    text-align: center;
}

.section-desc{
    font-size: 18px;
    text-align: center;
}


.about-man{
    display: flex;
    margin: 30px 0;
}


.about-sub-title{
    font-size: 18px;
    color: #474747;
    width: 400px;
    text-align: center;
}

/* About section style code end here */






/* What I do section style code start here */
.What-I-do-Section{
    width: 1320px;
    height: auto;
    margin: 100px auto 0 auto;
    padding: 80px;
}


.Do-section-desc{
    font-size: 18px;
    text-align: center;
    padding: 0 50px;
}


.Do-Sec-Card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px auto;
}


.Do-Sec-Card-style{
    font-size: 18px;
    color: #474747;
    width: 250px;
    padding: 25px;
    box-shadow: 5px 5px 40px rgb(182, 181, 181);
    margin-left: 20px;
    border-radius: 10px;
}

.Do-Sec-Card-style img{
    text-align: center;
    margin: 0 80px;
   justify-content: space-between;
} 


.Do-Sec-Card-title{
    margin: 10px 0;
    text-align: center;
}


/* What I do section style code end here */





/* My resume section style code start here */
.my-resume-section{
    width: 1320px;
    height: auto;
    margin: 0 auto;
    padding: 80px 80px 20px 80px;
}

.resume-section-title{
    margin-bottom: 100px;
}


.resume-card{
    display: flex;
    justify-content: space-between;

}


.resume-card-style{
    width: 660px;
    padding: 0 60px 30px 0 ;
}


.resume-title{
    font-size: 30px;
    color: #474747;
    margin: 25px 0;
    font-weight: 700;

}



.resume-sub-title{
    font-size: 25px;
    color: #474747;
    font-weight: 600;

}


.resume-exprience-time{
    font-size: 20px;
    color: #474747;
    font-weight: normal;
}

.resume-desc{
    font-size: 18px;
    color: #6b6b6b;
    font-weight: normal;
    margin: 25px 0px;

}


.download-cv{
    text-align: center;
}

/* My resume section style code end here */







/* footer section style code start here */

.footer{
    background-color: #FFF8F3;
    display: flex;
    margin: 100px auto;
    justify-content: space-between;
}

.footer-left-side{
    width: 50%;
    padding: 80px 80px 100px 200px;
}

.footer-title{
    font-size: 30px;
    color: #474747;
}

.footer-desc{
    font-size: 18px;
    color: #6b6b6b;
    margin: 25px 0;
}

.footer-icons{
    font-size: 30px;
    text-align: center;

}

.fa{
    color: #3882f0;
    margin-right: 15px;
}

.li{
    margin-right: 15px;
    color: #fd6e0a;
    padding: 5px;
}

.tw{
    color: #fd6e0a;
}



.footer-input{
    width: 50%;
    padding: 80px 200px 0px 80px;
}

.input{
    font-size: 20px;
    color: #6b6b6b;
    border: none;
    padding: 20px;
    margin: 25px 0;
}


