*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.header{
    background-color: #FFF8F3;
    background-image: url("/portfolio-resources/images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}





/* Navbar Style Section Start Here */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 150px;
}

.nav-title{
    font-size: 45px;
    color: rgb(37, 36, 36);

}

span{
    color : #fd6e0a;
}


nav ul {
    display: flex;
    align-items: center;
}


nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;

}


.btn-primary{
    background-color: #fd6e0a;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    box-sizing: border-box;
}


.btn-Outline{
    background-color: transparent;
    color: #fd6e0a;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #fd6e0a;
    font-size: 20px;
    box-sizing: border-box;
    margin-left: 25px;
}

/* Navbar Style Section End Here */




.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.banner-content{
    width: 600px;
}


.banner .profile-pic {
    width: 500px;
}


.banner-subtitle{
    font-size: 45px;
    color: #474747;
    font-weight: normal;
}


.banner-title{
    font-size: 70px;
    color: #181818;
    font-weight: 800;
}

.banner-desc{
    font-size: 18px;
    color: #6b6b6b;
    margin: 20px 0;
}




/* About section style code start here */
.about-section{
    background-color: #FFF8F3;
    width: 1150px;
    height: auto;
    margin: 150px auto 0 auto;
    padding: 120px;
}


.section-title{
    font-size: 45px;
    color: #181818;
    margin-bottom: 10px;
    text-align: center;
}

.section-desc{
    font-size: 18px;
}


.about-man{
    display: flex;
    margin: 30px 0;
}


.sub-title{
    font-size: 18px;
    color: #474747;
    width: 400px;
    text-align: center;
}


